.banner{
    background-image: url(../../../assets/images/banner.jpg);
    background-size: cover;
    height: 700px;
}
.banner h1{
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 40px;
}
.content{
    position: absolute;
    top: 40%;
    left: 7%;
}
a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 15px 15px;
    background-color: aliceblue;
    border-radius: 10px;
}
a:hover{
    color: aliceblue;
    background-color: var(--primary-color);
}
.title{
    font-weight: bold;
    text-align: center;
    margin: 20px;
    color: var(--primary-color);
}

.step-box{
    border-radius: 10px;
    background-color: black;
    padding: 20px 20px;
    text-align: center;
}
.step-box p{
    color: var(--primary-color)
}
.step-box h1{
    color: aliceblue;
    font-weight: bold;
    font-size: 35px;
}
.food-box{
    padding: 10px 5px;
}
.food-box h1{
    font-weight: bold;
    font-size: 19px;
}
.food-box img{
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.view-more{
    text-decoration: none;
    color: aliceblue;
    padding: 15px 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.view-more:hover{
    background-color: aliceblue;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}